<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <!--link rel="icon" type="image/svg+xml" href="/vite.svg" /-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>biota</title>
    <script type="module" crossorigin src="{{ url_for('static', filename='js/index-B8-us863.js') }}"></script>
    <link rel="stylesheet" crossorigin href="{{ url_for('static', filename='css/index-gG9rb4Wl.css') }}">
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
